name: Release

on:
  push:
    tags: ['v*']

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - run: python3.13 release.py ${{ github.ref_name }}
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        body_path: release.md
        files: '*.tar.*'
        prerelease: true

  publish:
    needs: release
    uses: JalonWong/bazel-registry/.github/workflows/publish.yml@main
    with:
      tag_name: ${{ github.ref_name }}
    secrets:
      publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
